
<a href="/display">Display Users</a><br>
<a href="/feed">User Feed</a><br>
<a href="/login">Login</a><br>
<a href="/signup">Signup</a><br><br>

<form action="/logout" method="post">
	<input type="submit" value="Logout">
</form>
<%= yield %>