<h2> Show the Users and their Passwords</h2>


<b>Username: </b><%= @user.name %>
<br>
<b>Password: </b><%= @user.password %>
<br><br>


<form action="/delete" method="post">
	<input type="submit" value="Delete">
</form>

<a href="/update">Change</a>