<h2>Edit Your Account</h2>

<br><br>

<form action="/edit_user" method="post">
<b>Name: </b>		<input type="text" name="name">
<b>Password: </b>	<input type="password" name="password">
					<input type="submit" value="Save">
</form>