<h2>Show the Contents of Users feeds</h2>

<% @posts.each do |p| %>
	<% if current_user.id == p.user_id %>
		<b>Name of Recipe: </b><%= p.name %>
		<br>
		<b>Content: </b><%= p.content %>
		<br>
		<b>Rating: </b><%= p.rating %>
		<br>
		<b>User: </b> <%= User.find(p.user_id).name %>
		<br><br>
	<% end %>
<% end %>

