<h2>Log into your Site</h2>

<form action="/login" method="post">
<b>Name: </b>		<input type="text" name="name">
<b>Password: </b>	<input type="password" name="password">
	<input type="submit" value="Login">
</form>