<h2>Signup for our Micro Blogging App</h2>

<br><br>

<form action="/create" method="post">
<b>Name: </b>		<input type="text" name="name">
<b>Passowrd: </b>	<input type="text" name="password">
					<input type="submit">
</form>